body {
 background: black;
}

td, th{
 vertical-align: middle !important;
 text-align: center !important;
 max-width: 300px !important;
}
.left {
	text-align: left !important;
}


::-webkit-scrollbar { width: 10px; height: 5px;}
::-webkit-scrollbar-button {background: #31373e}
::-webkit-scrollbar-track-piece {background-color: #31373e; }
::-webkit-scrollbar-thumb { height: 5px; background: #ffc201;}
